{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="container col-md-6">
     <div class="container mt-5">
     <div class="row">
     <div class="col-md-12">
 <div class="card">
     <div class="card-header bg-info">
    <h1>Créer un nouveau utilisateur</h1>
    </div>
</div>
</br>
</br>
    {{ include('user/_form.html.twig') }}
    </br>
 <a href="{{ path('user_index') }}" class="btn btn-sm btn-primary">Retour à la liste</a>
 </div>
 </div>
</div>
 </div>
{% endblock %}
